/* Formatações gerais
-------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/*Lado esquerdo
------------------*/

.container .lado-esquerdo {
    position: relative;
    background: #003147;
    padding: 40px;
    border: 1px solid;
}

.lado-esquerdo {
    width: 360px;
}

.texto-perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.texto-perfil .img-perfil {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.texto-perfil .img-perfil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-perfil h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.texto-perfil h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.info-contato {
    padding-top: 40px;
}

.titulo {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.info-contato ul {
    position: relative;
}

.info-contato ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: default;
}

.info-contato ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.info-contato ul li span {
    color: #fff;
    font-weight: 300;
}

.info-contato.educacao li {
    margin-bottom: 15px;
}

.info-contato.educacao h5 {
    color: #03a9f4;
    font-weight: 500;
}

.info-contato.educacao h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.info-contato.educacao h4 {
    color: #fff;
    font-weight: 300;
}

.info-contato.linguas .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.info-contato.linguas .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

/* Lado direito
----------------------------*/
.container .lado-direito {
    position: relative;
    background: #fff;
    padding: 40px;
}

.sobre {
    margin-bottom: 50px;
}

.sobre:last-child {
    margin-bottom: 0;
}

.titulo2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.sobre .caixa {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.sobre .caixa .ano-empresa {
    min-width: 150px;
}

.sobre .caixa .ano-empresa h5 {
    text-transform: uppercase;
    color: #848c90;
}

.sobre .caixa .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

/* Skills
----------------*/
.skills .caixa {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .caixa h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .caixa .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .caixa .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}


/* Responsividade
--------------------*/
@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .sobre .caixa {
        flex-direction: column;
    }

    .sobre .caixa .ano-empresa {
        margin-bottom: 5px;
    }

    .skills .caixa {
        grid-template-columns: repeat(1, 1fr);
    }
}